@charset "utf-8";

* {
    box-sizing: border-box;	
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    background-color: bisque;
    padding: 0.25rem;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0.5rem;
    font-weight: bold;
}

h1 {
    color: dimgray;
    font-size: 250%;
}

h2 {
    font-size: 200%;
    color: gray;
}

h3 {
    color: darkgrey;
    font-size: 175%;
}

p  {
    padding: 0.75rem 0.25rem;
}

a {
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: indigo;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: fixed;
    width: 100%;
    max-width: 100%;
    margin-left: -0.5rem;  /* lekarstwo na elament, jakoby wypadajacy z kontenera głównego */
    z-index: 100;
    padding: 0.25rem;
    background-color: darkseagreen;
}

.witryna {
    max-width: 1200px;
    padding: 0.25rem;
    margin: 0 auto;
    background-color: mediumspringgreen;
}

.nawigacja {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: slategrey;
}

.nawigacja > ul {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 0.65rem;
    background-color: papayawhip;
}

.nawigacja a {
    display: block;
    padding: 0.75rem 1rem;
    background-color: mintcream;
}

#nawigacja-etapow {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 450px;
    margin: auto -0.5rem;   /* resetuje paddingi boczne rodzica - oszczędność małej szerokości */ 
}

#nawigacja-etapow li {
    width: 50px;
    height: 50px;
    flex-basis: 50px;
    border-radius: 50%;
}

#nawigacja-etapow a {
    padding: 0.5rem 0.75rem;
    border-radius: 40%;
}

#nawigacja-kontrahenci {
    background-color: thistle;
}

#nawigacja-kontrahenci  li {
    background-color: mistyrose;
}

#nawigacja-kontrahenci  li:nth-of-type(2n) {
    background-color: lightpink;
}

header .nawigacja li:last-of-type a {
    padding-right: 2rem;
}

.nawigacja a:hover, 
.nawigacja a:focus {
    color:mediumblue;
    background-color: lightsteelblue;
}

main {
    background-color: ivory;
    margin: 1rem auto;
    word-wrap: break-word;  
    word-break: break-word;     /* przenosi do nowego wiersza całe wyrazy, jelsi nie może to dzieli myślnikiem (definicja poniżej), ale długaśne ciągi urywa i w nową linię pakuje   */
    hyphens: auto;      /* automatycznie wstawianie myślników przy przenoszenieu "słów", ale nie dla "bełkotu" lub "randomów" znakowych */ 
}

footer {
    background-color: cadetblue;
}

footer > p {
    text-align: center;
    padding: 1rem;
}

.bannery-pozaekranowe,
.menu-pozaekranowe {
    overflow: hidden;
    margin: 2rem 0;
}

aside.bannery-pozaekranowe {
    margin-top: 250px;  /* wartośc odczytana z poprzedniego rozmiaru headera, bez marginesu odzielającego (235px + margin) */
}

.bannery-kontener,
.kontener-pozaekranowy {
    background-color: burlywood;
    padding: 0.2rem;
    width: 400%;
}

.bannery-kontener > ul,
.kontener-pozaekranowy > ul {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 20px;   /* przykładowa mała  wysokość, którą i tak rozszerzy zawartość <li> najwyszższego elementu w grupie */  
    animation: przewijacz-czteroelementowy 20s ease-in-out infinite forwards;
    animation-direction: alternate-reverse;     /* zmiana kierunku animacji po wykonaniu pełnego cyklu; animacja komplementarna 0% == 100% */
    animation-play-state: running;
}

.bannery-kontener li,
.kontener-pozaekranowy li {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: khaki;
    margin: 0.3rem;
    /* margin-left: 1rem; */    /* ZWERYFIKOWAĆ KONIECZNOŚĆ ISTNIENIA TEJ DEFINICJI */
    transition: opacity 0.15s ease-in;
}

.bannery-kontener li:first-of-type,
.kontener-pozaekranowy li:first-of-type {
    margin-left: 0.3rem;
}

.bannery-kontener li:nth-of-type(2n),
.kontener-pozaekranowy li:nth-of-type(2n) {
    background-color: lemonchiffon;
}

.bannery-kontener > ul:hover,
.kontener-pozaekranowy > ul:hover {
    animation-play-state: paused;
}

.bannery-kontener > ul li:hover,
.kontener-pozaekranowy > ul li:hover {
    opacity: 0.85;
    cursor:pointer;
}

main > section {
    margin: 1.5rem auto;
    background-color: linen;
}

main > section:last-of-type {
    padding: 0.25rem;
}

main > section p {
    text-align: justify;
}

main > section img {
    display: block;
    margin: 1rem auto;
}

.kontener-pozaekranowy {
    width: 500%;    /* 5 * 100% == pięć elementów */
    background-color: lightsalmon;
}

.kontener-pozaekranowy > article {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: lightgray;
    min-height: 500px;      /* proteza */
    min-height: 70vh;
    left: 0;
    overflow: hidden;
    transform: translateX(0%);
    transition: left ease-in-out 0.7s, translate ease-in-out 1s;
}

.kontener-pozaekranowy section {
    background-color: lightblue;
    flex-basis: 100%;
    padding: 0.25rem;
}

.kontener-pozaekranowy section:nth-of-type(2n) {
    background-color: lightskyblue;
}

.etapy-przelewow section {
    background-color: lightgoldenrodyellow;
}

.etapy-przelewow section:nth-of-type(2n) {
    background-color: papayawhip;
}

.kontrahenci section {
    background-color: skyblue;
}

.kontrahenci section:nth-of-type(2n) {
    background-color: lightskyblue;
}

.rozjasniony-polprzezroczysty-blokowy {
    display: block;
    padding: 0.75rem 0.5rem;
    margin: 0.75rem auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.test-klasa-klient {
    font-size: 1.25rem;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    background-color: khaki;
    border: 1px solid grey;
}

.test-klasa-klient:nth-last-of-type(2n) {
    background-color: blanchedalmond;
}

.test-klasa-klient button {
    display: inline-block;
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
    vertical-align: middle;
}

.test-klasa-klient p {
    padding: 0;
}

.test-nazwa-osoby {
    color: indigo;
}

.test-dane-adresowe {
    font-size: 0.85rem;
}

.test-szczegoly {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.85rem;
    background-color: burlywood;
    padding: 0.25rem;
}

.test-klasa-klient .test-dane-konto {
    padding-left: 0.75rem;
}

.test-kolor {
    color: gray;
}

.pole {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    background-color: darkseagreen;
}

.pole > label {
    display: block;
    padding: 0.25rem;
    background-color: green;
}

.pole > input,
.pole > textarea,
.pole > select {
    width: 100%;
}

.pole > input[type="submit"] {
    font-weight: bold;
    font-size: 1.25rem;
}

        /*  ********************************************
                    A   N   I   M   A   C   J   E       
            ********************************************
        */

@keyframes przewijacz-czteroelementowy {
    0%, 10% {
        left: 0;
    } 
    20%, 30% {
        left: -25%;
    }
      
    40%, 60% {
        left: -50%;
    } 
    70%, 80% {
        left: -75%;
    } 
    90%, 100% {
        left: 0;
    }
}

        /*  ********************************************
                    K   W   E   R   E   N   D   Y     
            ********************************************
        */


@media screen and (min-width: 320px) {

    #nawigacja-etapow {
        justify-content: space-around;
    }

}

@media screen and (min-width: 460px) {

    .nawigacja > ul {
        justify-content: space-between;
        align-items: stretch;
        flex-direction: row;
    }

    main > section:last-of-type,
    .kontener-pozaekranowy section {
        padding: 0.5rem;
    }

    header + .bannery-pozaekranowe {
        margin-top: 8rem;
    }

    #nawigacja-etapow {
        margin: 0 auto;
    }

    #nawigacja-kontrahenci {
        flex-direction: row;        
    }

    #nawigacja-kontrahenci a {
        padding: 0.25rem;
    }

    .test-szczegoly {
        flex-direction: row;
    }

}

@media screen and (min-width: 700px) {

    header {
        max-width: 1200px;
    }
    
    .nawigacja {
        flex-direction: row;
    }

    .nawigacja > ul {
        align-items: stretch;
        margin-top: 0;
    }

    .nawigacja a {
        padding: 0.5rem 1rem;
    }

    header + .bannery-pozaekranowe {
        margin: 1.5rem 1rem;
        margin-top: 4rem;
    }

    main > section:last-of-type,
    .kontener-pozaekranowy section {
        padding: 0.75rem;
    }

    #nawigacja-kontrahenci li {
        flex-basis: 18%;
    }

    #nawigacja-kontrahenci a {
        padding: 0.5rem;
    }

    .pole {
        flex-direction: row;
    }
    
    .pole > label {
        min-width: 300px;
    }
    

}

@media screen and (min-width: 1200px) {

    header {
        margin-left: -0.25rem;
    }

}