@charset "utf-8";

* {
    box-sizing: border-box;	
}

body {
    font-size: 1em;
    background-color: bisque;
}

h1 {
    color: dimgray;
    font-size: 250%;
    padding: 0.5em;	
    font-weight: bold;
}

h2 {
    font-size: 200%;
    font-weight: bold;
    color: gray;
    padding: 0.5em;	
}

p  {
    padding: 0.25em;
}

a {
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: indigo;
}